<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Job Alert</title>
</head>
<body>
  <p th:text="'Hello, a job has been posted in your domain'"></p>
  <p th:text="'We have ' + ${company} + ', offerings a job in your field.'"></p>
  <a th:href="@{${applicationLink}}">Unlock Company Information</a>
</body>
</html>